.listButtons p{
    float:right
}

.listButtons ul {
    width:100%;
}

    
    .listButtons p {
        font-size: 1.3em;
    }
    
    .listButtons button {
        font-size: 1vw;
        margin-bottom: 3em;
        border:none;
    }
    
    .listButtons  i{
    margin-right:15px;
    }
    