.listButtons p{
    font-size:16px;
    float:right
}

.listButtons ul {
    width:100%;
}

    
    .listButtons p {
        font-size: 1.5em;
    }
    
    .listButtons button {
        font-size: 1vw;
        margin-bottom: 2em;
        border:none;
    }
    
    .listButtons  i{
    margin-right:10px;
    }
    