.enabled {
  display: flex;
}

.disabled {
  display: none;
}


/* Estilos generales del formulario */
.loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.loginGroup {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-bottom: 10px;
}

.loginGroup form {
  width: 80%;
}

.loginGroup label {
  display: block;
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: 5px;
}

.loginGroup input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.loginGroup form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  /* background-color: #784caf;
  color: #ffffff;
  cursor: pointer; */
}

.loginGroup button[type="submit"]:hover {
  background-color: #e394e4;
}

@keyframes rotation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 900px) {
  .loginGroup {
    max-width: 80vw;
    max-height: 80vw;
  }

  .loginGroup form {
    width: 100%;
    height: 100%;
  }
}