.enabled {
    display: flex;
  }
  
  .disabled {
    display: none;
  }
  
  .Background {
    background: linear-gradient(45deg, rgba(139, 34, 195, 1) 0%, rgba(253, 233, 45, 0.927608543417367) 100%);
    background-size: 400% 400%;
    position: relative;
    animation: rotation 10s ease-in-out infinite;
  }

  .change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 0vh;
  }

  .change section {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -6rem;
  }

   
  
  
  
   
  