.bgModal{
background-color: #BA90C6;
border:none !important;
}
.bgModal button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ffed85;
    color: #7a7a7a;
    cursor: pointer;
  }

  .bgModal .file {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ffed85;
    color: #7a7a7a;
    
  }